@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.6%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.6%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.6%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;
  --accent: 250 95% 58%;
  --accent-foreground: 210 40% 96%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --primary: 250 95% 58%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 14% 83.9%;
  --secondary-foreground: 222.2 47.6% 11.1%;
  --ring: 250 95% 58%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.3% 65.1%;
    --accent: 250 95% 58%;
    --accent-foreground: 222.2 47.6% 11.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --primary: 250 95% 58%;
    --primary-foreground: 222.2 47.6% 11.1%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --ring: 250 95% 58%;
  }
}

* {
  @apply box-border;
}

html {
  @apply scroll-smooth;
}

body {
  @apply antialiased;
}
